* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--white);
  font-family: "Eczar", serif;
  scroll-behavior: smooth;
}
body {
  background-color: var(--bgcolor);
}
::selection {
  color: var(--bgcolor);
  background: var(--bggreen);
}
/*👉CSS Variable👈*/
:root {
  --bgcolor: #078743;
  --bggreen: #83cc98;
  --cardbgcolor: #19801d;
  --white: #ffffff;
  --navcolor: #0b4220;
  --greentable: #d6f5d6;
  --greenhover: #8ee68e;
  --upbtncolor: #199401;
  --upbtnhover: #0e5200;
}
/*👉Go to Up/Top button👈*/
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: var(--upbtncolor);
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  z-index: 999;
  font-size: 30px;
  cursor: pointer;
  transition: 0.5s;
}
#btn-back-to-top:hover {
  background-color: var(--upbtnhover);
}
/*👉Banner👈*/
.banner_section {
  background: linear-gradient(
      90deg,
      rgba(0, 36, 25, 0.4) 0%,
      rgba(9, 9, 121, 0.2) 35%,
      rgba(8, 70, 0, 0.3) 100%
    ),
    url(images/banner.jpg);
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-width: 450px;
  padding-top: 80px;
  padding-bottom: 160px;
  padding-left: 50px;
  padding-right: 50px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  position: relative;
}
.banner_wrapper {
  text-align: center;
  text-shadow: 2px 4px 3px black;
}
.banner_wrapper h1 {
  color: var(--white);
  font-weight: bold;
  font-size: 3em;
  letter-spacing: 0.2rem;
  overflow: hidden;
  text-transform: uppercase;
}
.banner_content span:nth-child(1) {
  position: relative;
  animation: slideUp 2s;
  animation-fill-mode: backwards;
}
.banner_content span:nth-child(2) {
  position: relative;
  animation: slideUp 2s;
  animation-delay: 0.25s;
  animation-fill-mode: backwards;
}
.banner_content span:nth-child(3) {
  position: relative;
  animation: slideUp 2s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}
.banner_content span:nth-child(4) {
  position: relative;
  animation: slideUp 2s;
  animation-delay: 0.75s;
  animation-fill-mode: backwards;
}
.banner_content span:nth-child(5) {
  position: relative;
  animation: slideUp 2s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}
.banner_content span:nth-child(6) {
  position: relative;
  animation: slideUp 2s;
  animation-delay: 1.25s;
  animation-fill-mode: backwards;
}
.banner_content span:nth-child(7) {
  position: relative;
  animation: slideUp 2s;
  animation-delay: 1.5s;
  animation-fill-mode: backwards;
}
.banner_content span:nth-child(8) {
  position: relative;
  animation: slideUp 2s;
  animation-delay: 1.75s;
  animation-fill-mode: backwards;
}
.banner_content span:nth-child(9) {
  position: relative;
  animation: slideUp 2s;
  animation-delay: 2s;
  animation-fill-mode: backwards;
}
.banner_content span:nth-child(10) {
  position: relative;
  animation: slideUp 2s;
  animation-delay: 2.25s;
  animation-fill-mode: backwards;
}
@keyframes slideUp {
  0% {
    bottom: -100px;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}
/*👉Definition of ecosystem👈*/
.ecosystem_wrapper {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
}
.ecosystem_main {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 80px;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -5px, rgba(0, 0, 0, 0.2) 0px -5px 0px inset;
  border-radius: 6px;
  min-width: 360px;
  padding: 15px;
}
.ecosystem_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-width: 300px;
}
.eco_left {
  width: 100%;
  padding: 30px;
}
.eco_left p {
  color: black;
  font-size: 1.1em;
  text-align: justify;
}
.eco_left h1 {
  color: var(--bgcolor);
  letter-spacing: 3px;
}
.eco_left h2 {
  color: var(--bgcolor);
  font-style: italic;
  animation: blink 1.5s linear infinite;
}
@keyframes blink {
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
.eco_right {
  text-align: center;
}
.eco_right img {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 10px;
  width: 300px;
  height: 300px;
  min-width: 200px;
}
/*👉Let's break down👈*/
.definition_wrapper {
  background-color: var(--white);
  width: 100%;
  min-width: 450px;
}
.definition_title_wrapper {
  position: relative;
  display: block;
  margin: 0 auto;
}
.definition_h1 {
  position: absolute;
  background-color: var(--navcolor);
  top: 0;
  left: 40px;
  transform: translate(0%, -50%);
  padding: 10px 20px 10px 20px;
  font-style: italic;
}
.definition_h1 h1 {
  font-size: 1.8em;
}
.definition_container {
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  min-width: 400px;
}
/*👉Definition Mini Box👈*/
.definition_box::before {
  content: "";
  display: block;
  background-color: var(--navcolor);
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80px;
  height: 5px;
}
.definition_box {
  padding-bottom: 50px;
}
.definition_box:last-child {
  padding-bottom: 100px;
}
/*👉Definition text and image box👈*/
.minitext_text {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}
.definition_mini_title h1 {
  color: var(--bgcolor);
  font-size: 2.1em;
}
.definition_mini_text {
  width: 100%;
  min-width: 400px;
}
.definition_mini_text p {
  color: black;
  font-size: 1.3em;
  text-align: justify;
  padding-right: 30px;
}
.definition_mini_text div .list li {
  color: black;
  font-size: 1.2em;
  margin-left: 20px;
  margin-right: 25px;
  text-align: justify;
}
.definition_mini_text div .list li b {
  color: var(--bgcolor);
  font-size: 1em;
}
.definition_mini_text p b {
  color: var(--bgcolor);
}
.definition_mini_text p:nth-child(2) {
  padding-top: 15px;
}
.definition_mini_text p:nth-child(3) {
  padding-top: 15px;
}
.img_right {
  text-align: center;
  width: 70%;
  overflow: hidden;
}
.img_right img {
  width: 100%;
  height: 100%;
  border: 4px solid var(--bgcolor);
  transition: all 0.9s ease;
}
.img_right:hover img {
  transform: rotate(10deg) scale(1.5);
}
/*👉Table👈*/
.table {
  width: 100%;
  border-collapse: collapse;
}
.table td,
.table th {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
  font-size: 1.2em;
  color: black;
}
.table th {
  text-align: center !important;
}
.table tr td ul li {
  color: black;
  list-style: none;
  padding: 0px;
}
.table tr td:nth-child(2) ul li::before {
  content: "\1F332";
  margin: 0 0.5em;
}
.table tr td:nth-child(3) ul li::before {
  content: "\2713";
  margin: 0 0.5em;
  color: var(--bgcolor);
  font-weight: bold;
}
.table td ul li:last-child::before {
  content: "\1F846";
  color: var(--cardbgcolor);
  margin: 0 0.5em;
}
.table th {
  background-color: var(--cardbgcolor);
  color: #ffffff;
}
.table tbody tr:nth-child(even) {
  background-color: var(--greentable);
}
.table tbody tr:hover {
  background-color: var(--greenhover);
}
/*👉Vocab Slot👈*/
.vocab_wrapper {
  width: 100%;
  min-width: 450px;
}
.vocab_title_wrapper {
  position: relative;
  display: block;
  margin: auto;
}
.vocab_h1 {
  position: absolute;
  background-color: var(--navcolor);
  top: 0;
  right: 50%;
  transform: translate(50%, -50%);
  padding: 10px 25px 10px 25px;
  font-style: italic;
  letter-spacing: 4px;
}
.vocab_h1 h1 {
  font-size: 1.8em;
  text-align: center;
}
/*👉Vocab Container👈*/
.vocab_container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 135px;
  padding-left: 20px;
}
.vocab_card {
  padding-top: 100px;
  min-width: 300px;
  padding-left: 30px;
  padding-right: 30px;
}
/*👉Flip Card👈*/
.vocab_card label {
  display: block;
  width: 350px;
  height: 400px;
  perspective: 1000px;
  transform-style: preserve-3d;
  cursor: pointer;
}

.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

.flip-card .front,
.flip-card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background-image: radial-gradient(
    circle 780.6px at 10% 20%,
    rgba(133, 255, 189, 1) 0%,
    rgba(255, 251, 125, 1) 90.7%
  );
  backface-visibility: hidden;
  border-radius: 0 20px 0 20px;
}

.flip-card .back {
  transform: rotateX(180deg);
  color: #000;
  background: var(--white);
  overflow: hidden;
}
.flip-card .back img {
  width: 100%;
}
.vocab_card label:hover .flip-card {
  transform: rotateX(2deg);
  box-shadow: 0 20px 20px rgba(50, 60, 60, 0.2);
}

.vocab_card input {
  display: none;
}

:checked + .flip-card {
  transform: rotateX(180deg);
}
.vocab_card label:hover :checked + .flip-card {
  transform: rotateX(175deg);
  box-shadow: 0 20px 20px rgba(255, 255, 255, 0.2);
}

.front h1 {
  font-size: 3em;
  color: var(--cardbgcolor);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 5px;
}
.back h1 {
  color: #424752;
  margin: 30px 0 0 0;
}

hr {
  width: 180px;
  margin: 15px auto 10px auto;
}

.back p {
  font-size: 18px;
  color: #000;
  padding: 0 18px;
  line-height: 35px;
  text-align: center;
  margin: 0 auto;
}
/*👉Ecosystem Q&A Slot👈*/
.qa_wrapper {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(14, 174, 87, 1) 0%,
    rgba(12, 116, 117, 1) 90%
  );
  width: 100%;
  min-width: 450px;
}
.qa_title_wrapper {
  position: relative;
  display: block;
  margin: auto;
}
.qa_h1 {
  position: absolute;
  background-color: var(--white);
  box-shadow: rgba(46, 255, 192, 0.4) 5px 5px, rgba(46, 255, 192, 0.3) 10px 10px,
    rgba(46, 255, 192, 0.2) 15px 15px, rgba(46, 255, 192, 0.1) 20px 20px,
    rgba(46, 255, 192, 0.05) 25px 25px;
  top: 0;
  right: 50%;
  transform: translate(50%, -50%);
  padding: 10px 25px 10px 25px;
  font-style: italic;
  width: 400px;
}
.qa_h1 h1 {
  font-size: 1.8em;
  text-align: center;
  color: var(--bgcolor);
}
.qa_container {
  padding-top: 105px;
  padding-bottom: 120px;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  min-width: 400px;
}
/*👉QA Toggle👈*/
.container.main section {
  background-color: var(--greentable);
}
.container.main section label {
  border-bottom: 1.5px solid var(--navcolor);
  background-color: var(--bgcolor);
  cursor: pointer;
  display: block;
  padding: 15px 20px;
  margin: 0;
  color: var(--white);
  position: relative;
  font-size: 22px;
  font-weight: bold;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container.main section label::after {
  content: "\271B";
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--white);
  opacity: 0.7;
  font-weight: bold;
  font-size: 28px;
}
.container.main section div {
  overflow: hidden;
  padding: 0 20px;
  visibility: hidden;
  max-height: 0;
  transition: all 0.8s ease;
}
.container.main section div p {
  color: black;
  font-size: 1.1em;
  padding-bottom: 10px;
  line-height: 40px;
}
.container.main section div p b {
  color: black;
  font-size: 1.1em;
}
.container.main section div * {
  opacity: 0;
  transition: all 0.8s ease;
}
.container.main section input {
  display: none;
}
.container.main section input:checked + label + div {
  padding: 20px;
  max-height: 100vh;
  visibility: visible;
  opacity: 1;
}
.container.main section input:checked + label + div * {
  opacity: 1;
}
.container.main section input:checked + label::after {
  content: "\268A";
}
/*👉Responsive👈*/
@media screen and (max-width: 1047px) {
  .ecosystem_container {
    flex-direction: column-reverse;
  }
  .eco_left,
  .eco_left p {
    text-align: center;
  }
  .eco_right {
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 615px) {
  .banner_wrapper h1 {
    font-size: 2.4em;
  }
}
@media screen and (max-width: 465px) {
  .banner_wrapper {
    text-align: left;
  }
  .banner_wrapper h1 {
    font-size: 1.8em;
    letter-spacing: 0rem;
  }
}
@media screen and (max-width: 1000px) {
  .minitext_text {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column-reverse;
  }
  .img_right {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .table thead {
    display: none;
  }

  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 100%;
  }
  .table tr {
    margin-bottom: 15px;
  }
  .table td {
    padding-left: 50%;
    text-align: left;
    position: relative;
  }
  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 0.9em;
    font-weight: bold;
    text-align: left;
  }
}
